@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff; /* Light background */
  --foreground-color: #000000; /* Dark text */
}

body {
  color: var(--foreground-color); /* Set text color */
  background: var(--background-color); /* Set background color */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Ensure body spans the full viewport height */
  width: 100%; /* Ensure body spans the full viewport width */
}

* {
  box-sizing: border-box; /* Ensures padding and borders don't affect width/height */
}

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.animate-slide {
  animation: slide 5s linear infinite;
}

